{#
    On hérite du template "base.html.twig"
    Ca permet de récupérer la structure HTML de ce fichier
    mais également de remplacer le contenu des "blocks"
#}
{% extends "base.html.twig" %}

{# On écrase le bloc title #}
{% block title %}
    Bienvenue!
{% endblock %}

{# On écrase le bloc body #}
{% block body %}
    <p>
        Page d'accueil <br>
        Pseudo: {{ pseudo }}
    </p>
    <ul>
        {# foreach($liste as $element) #}
        {% for element in liste %}
            <li>{{ element }}</li>
        {% endfor %}
    </ul>
{#    {% for i in 0..10 %}#}
{#       {{ i }}#}
{#    {% endfor %}#}
{% endblock %}

